*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #303135;
    color: white;
    font-family: Verdana, Arial, sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

input[type=text], input[type=date], input[type=time], select {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
}



div.container{
    max-width: 1100px;
    margin: 0 auto;
}

header{
    background-color: green;
    padding: 25px 0;
}

header div.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

ul.navHeader{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul.navHeader li{
    padding-left: 30px;
}

section{
    border: 1px solid red;
    font-size: 14px;
    padding: 20px 30px;
}



div.form-item{
    padding: 10px 0;
}

div.form-item h1{
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
}

div.form-item label{
    font-size: 18px;
}

button.btnCadastrar{
    width: 60%;
    font-size: 16px;
    padding: 14px 40px;
    background-color: green;
    color: white;
    border: none;
}