*{
    margin: 0;
    padding: 0;
}
 
body{
    background-color: #212121;
    color: white;
    font-family: Verdana, Arial, sans-serif;
}
 
header a{
    text-decoration: none;
    color: white;
}
 
input[type=text], input[type=date]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
}
 
input[type=date]{
    width: 20%;
    padding: 10px 20px;
}
 
 
div.container{
    max-width: 1100px;
    margin: 0 auto;
}
 
header{
    background-color: green;
    padding: 25px 0;
}
 
header div.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
 
ul.navHeader{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
 
ul.navHeader li{
    padding-left: 30px;
}
 
section{
    border: 1px solid red;
    font-size: 14px;
    padding: 20px 30px;
}
 
section div.container{
    background-color: #303030;
    max-width: 900px;
    padding: 30px 0;
    border-radius: 10px;
    
}
 
 
div.form-item{
    padding: 10px 20px;
}
 
h1{
    font-size: 30px;
    font-weight: normal;
    
}
 
div.form-item label{
    font-size: 18px;
}
 
button.btnCadastrar{
    font-size: 14px;
    padding: 12px 28px;
    background-color: green;
    color: white;
    border: none;
}

a.linkCancelar{
    color: white;
    text-decoration: none;
    padding-left: 15px;
}
a.linkCancelar:hover{
    text-decoration: underline;
    cursor: pointer;
}

article.insercao{
    margin-bottom: 20px;
}

div.task-title{
    padding: 15px;
}



div.task-item{
    padding: 15px 20px;
    border-bottom: 0.25px solid #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


a.btnDone:hover, a.btnDelete:hover{
    cursor: pointer;
}

span.spanTitulo{
    border: 1px solid red;
    line-height: 24px;
    width: 50%;
    
}

span.spanBtn a{
    padding-left: 20px;
}
span.spanBtn img{
    width: 20px;
    height: 20px;
}